<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href="https://www.kickstarter.com/projects/586853729/the-drinking-trials/?ref=kicktraq" title="Thomas the artist" target = "_blank">Click this</a>
    <p> To go back to homepage click <a href="/"> home</a> </p>
    <heade>
        <h1> Feed me</h1>
    </heade>

    <nav>
        <ul>
            <li> <a href="#"> Home</a></li>
            <li> <a href="#"> Contact us</a></li>
            <li> <a href="#"> Career</a></li>
            <li> <a href="#"> Our team</a></li>
        </ul>
    </nav>

    <main>
        <article>
            <h2>Article heading</h2>

            <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam
          lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam
          viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent
          et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt
          congue enim, ut porta lorem lacinia consectetur.
            </p>

            <h3>Subsection</h3>

        </article>

        <aside>
            <h2>Related</h2>

            <ul>
                <li><a href="#">Oh I do like to be beside the seaside</a></li>
                <li><a href="#">Oh I do like to be beside the sea</a></li>
                <li><a href="#">Although in the North of England</a></li>
                <li><a href="#">It never stops raining</a></li>
                <li><a href="#">Oh well…</a></li>
             </ul>

        </aside>
    </main>
</body>
</html>